body
{
    background-image: none;
}
.container
{
    position: relative;
    width: 40vw;
    margin-top: 29vw;
    box-shadow: none;
}
.workspace
{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.63);
}
input[type="date"]
{
    display: block;
}

#from::before
{
    content: "From \00a0";
}
#to::before
{
    content: "To \00a0\00a0\00a0";
}
#rangeOutput
{
    text-align: center;
    outline: none;
    background: transparent;
    border: none;
    color: rgb(214, 205, 205);
    margin-top: 2vw;
}
#rangeOutput::before
{
    content: "Passangers: \00a0";
}
#result
{
    margin-top: 3vw;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 1.8vw;
}
#result p
{
    padding: .3vw;
}